In [1]:
# Import dependencies
import pandas as pd

# Cleaning Canadian Airports ( website name)
# Deleting unwanted columns
# Saving the cvs file in clean_data folder

In [3]:
# Read raw data from airport.csv 

can_airport_df = pd.read_csv("Resources/raw_data/airport_data/airport_data_CA.csv")
can_airport_df.head()

,Name,IATA Code,ICAO Code,Country,City,City Code,Latitude,Longitude,Timezone,Departures
0,Abbotsford International Airport,YXX,CYXX,CA,Abbotsford,YVR,49.02529,-122.37735,America/Vancouver,941.0
1,Aklavik/Freddie Carmichael Airport,LAK,CYKD,CA,Aklavik,LAK,68.22333,-135.00583,America/Yellowknife,348.0
2,Akulivik Airport,AKV,CYKO,CA,Akulivik,AKV,60.81861,-78.14861,America/Toronto,270.0
3,Alberni Valley Regional Airport,YPB,NaN,CA,Port Alberni,YPB,49.31933,-124.92979,America/Vancouver,NaN
4,Alert Bay Airport,YAL,CYAL,CA,Alert Bay,NaN,50.58220,-126.91600,America/Vancouver,NaN

In [9]:
# Replace any special apostrophes with standard ones
can_airport_df['Name'] = can_airport_df['Name'].str.replace("â€™", "'")
# Filter data to get 5 businest airport of the USA
can_busiest_airport = can_airport_df.loc[can_airport_df['Name'].isin(["Toronto Pearson International Airport",
                                                                      "Montreal-Pierre Elliott Trudeau International Airport", 
                                                                      "Ottawa Macdonald-Cartier International Airport",
                                                                      "Billy Bishop Toronto City Airport"])]
can_busiest_airport

,Name,IATA Code,ICAO Code,Country,City,City Code,Latitude,Longitude,Timezone,Departures
40,Billy Bishop Toronto City Airport,YTZ,CYTZ,CA,Toronto,YTO,43.62974,-79.39828,America/Toronto,NaN
346,Montreal-Pierre Elliott Trudeau International ...,YUL,CYUL,CA,Montreal,YMQ,45.46106,-73.75019,America/Toronto,35190.0
388,Ottawa Macdonald-Cartier International Airport,YOW,CYOW,CA,Ottawa,YOW,45.32250,-75.66917,America/Toronto,10293.0
542,Toronto Pearson International Airport,YYZ,CYYZ,CA,Toronto,YTO,43.68066,-79.61286,America/Toronto,72355.0

In [ ]:
# delete the columns that are not needed
can_busiest_airport = can_busiest_airport.drop(columns=['City Code'])

In [11]:
# Update Timezone column
# replace the Timesoze with the actual timezone
can_busiest_airport['Timezone'] = can_busiest_airport['Timezone'].replace({'America/Toronto': 'EST'})
can_busiest_airport

,Name,IATA Code,ICAO Code,Country,City,Latitude,Longitude,Timezone,Departures
40,Billy Bishop Toronto City Airport,YTZ,CYTZ,CA,Toronto,43.62974,-79.39828,EST,NaN
346,Montreal-Pierre Elliott Trudeau International ...,YUL,CYUL,CA,Montreal,45.46106,-73.75019,EST,35190.0
388,Ottawa Macdonald-Cartier International Airport,YOW,CYOW,CA,Ottawa,45.32250,-75.66917,EST,10293.0
542,Toronto Pearson International Airport,YYZ,CYYZ,CA,Toronto,43.68066,-79.61286,EST,72355.0

In [12]:
# save the data to a csv file in Resources\clean_data folder
can_busiest_airport.to_csv("Resources/clean_data/can_airport.csv", index=False)

Feb 2025 to March 2026 Data Extraction

In [13]:
# Read the data into a Pandas DataFrame
march_25_df = pd.read_csv('sample_dataset.csv')
#march_25_df.head()
march_25_df.columns

Index(['date', 'itinerary_id', 'cabin_class', 'sort_by', 'price_raw',
       'price_formatted', 'currency', 'flight_number', 'origin_airport',
       'origin_city', 'origin_country', 'destination_airport',
       'destination_city', 'destination_country', 'departure_time',
       'arrival_time', 'duration_minutes', 'stop_count', 'marketing_airline',
       'operating_airline', 'change_allowed', 'cancellation_allowed',
       'is_self_transfer', 'has_flexible_options', 'score'],
      dtype='object')

Delete unwanted columns

In [14]:
march_25_unwanted = ['date','price_raw','cancellation_allowed','sort_by','has_flexible_options','change_allowed']
march_25_df = march_25_df.drop(columns=march_25_unwanted, axis=1)
march_25_df.head()

,itinerary_id,cabin_class,price_formatted,currency,flight_number,origin_airport,origin_city,origin_country,destination_airport,destination_city,destination_country,departure_time,arrival_time,duration_minutes,stop_count,marketing_airline,operating_airline,is_self_transfer,score
0,18467-2503031400--32695-0-10968-2503031640,economy,C$690,NaN,1031,Toronto Pearson International,NaN,Canada,Dallas Fort Worth International,NaN,United States,2025-03-03T14:00:00,2025-03-03T16:40:00,220,0,Air Canada,Air Canada,False,0.452919
1,18467-2503031940--32695-0-10968-2503032222,economy,C$405,NaN,1033,Toronto Pearson International,NaN,Canada,Dallas Fort Worth International,NaN,United States,2025-03-03T19:40:00,2025-03-03T22:22:00,222,0,Air Canada,Air Canada,False,0.999000
2,18467-2503031400--32593-0-10968-2503031655,economy,C$518,NaN,4476,Toronto Pearson International,NaN,Canada,Dallas Fort Worth International,NaN,United States,2025-03-03T14:00:00,2025-03-03T16:55:00,235,0,Alaska Airlines,Envoy Air As American Eagle,False,0.684089
3,18467-2503031730--32695-1-10968-2503032248,economy,C$413,NaN,4990,Toronto Pearson International,NaN,Canada,Chicago O'Hare International,NaN,United States,2025-03-03T17:30:00,2025-03-03T18:39:00,129,1,Air Canada,Republic Airways DBA United Express,False,0.407610
4,18467-2503031730--32695-1-10968-2503032248,economy,C$413,NaN,5521,Chicago O'Hare International,NaN,United States,Dallas Fort Worth International,NaN,United States,2025-03-03T19:55:00,2025-03-03T22:48:00,173,1,Air Canada,United,False,0.407610

In [15]:
march_25_df.columns

Index(['itinerary_id', 'cabin_class', 'price_formatted', 'currency',
       'flight_number', 'origin_airport', 'origin_city', 'origin_country',
       'destination_airport', 'destination_city', 'destination_country',
       'departure_time', 'arrival_time', 'duration_minutes', 'stop_count',
       'marketing_airline', 'operating_airline', 'is_self_transfer', 'score'],
      dtype='object')

In [16]:
# spliting the departure_time column into two columns depart_date and depart_time
# Convert depart_date to datetime format
march_25_df['departure_time'] = pd.to_datetime(march_25_df['departure_time'])

# Extract date and time into separate columns
march_25_df['depart_date'] = march_25_df['departure_time'].dt.date
march_25_df['depart_time'] = march_25_df['departure_time'].dt.time

# Drop the original column
march_25_df = march_25_df.drop(columns=['departure_time'], axis=1)

In [12]:
#splitting the arrival_time column into two columns arrival_date and arrival_time_only
# Convert arrival_time to datetime format
march_25_df['arrival_time'] = pd.to_datetime(march_25_df['arrival_time'])

# Extract date and time into separate columns arrival_date and arrival_time
march_25_df['arrival_date'] = march_25_df['arrival_time'].dt.date
march_25_df['arrival_time_only'] = march_25_df['arrival_time'].dt.time

#delete the original column
march_25_df = march_25_df.drop(columns=['arrival_time'], axis=1)

march_25_df.head()

,itinerary_id,cabin_class,price_formatted,currency,flight_number,origin_airport,origin_city,origin_country,destination_airport,destination_city,...,duration_minutes,stop_count,marketing_airline,operating_airline,is_self_transfer,score,depart_date,depart_time,arrival_date,arrival_time_only
0,18467-2503031400--32695-0-10968-2503031640,economy,C$690,NaN,1031,Toronto Pearson International,NaN,Canada,Dallas Fort Worth International,NaN,...,220,0,Air Canada,Air Canada,False,0.452919,2025-03-03,14:00:00,2025-03-03,16:40:00
1,18467-2503031940--32695-0-10968-2503032222,economy,C$405,NaN,1033,Toronto Pearson International,NaN,Canada,Dallas Fort Worth International,NaN,...,222,0,Air Canada,Air Canada,False,0.999000,2025-03-03,19:40:00,2025-03-03,22:22:00
2,18467-2503031400--32593-0-10968-2503031655,economy,C$518,NaN,4476,Toronto Pearson International,NaN,Canada,Dallas Fort Worth International,NaN,...,235,0,Alaska Airlines,Envoy Air As American Eagle,False,0.684089,2025-03-03,14:00:00,2025-03-03,16:55:00
3,18467-2503031730--32695-1-10968-2503032248,economy,C$413,NaN,4990,Toronto Pearson International,NaN,Canada,Chicago O'Hare International,NaN,...,129,1,Air Canada,Republic Airways DBA United Express,False,0.407610,2025-03-03,17:30:00,2025-03-03,18:39:00
4,18467-2503031730--32695-1-10968-2503032248,economy,C$413,NaN,5521,Chicago O'Hare International,NaN,United States,Dallas Fort Worth International,NaN,...,173,1,Air Canada,United,False,0.407610,2025-03-03,19:55:00,2025-03-03,22:48:00